name: Automated DEV Release

on:
  push:
    branches:
      - "master"
      - "release/**"

jobs:
  release-dev:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: ./mvnw package
        env:
          POEDITOR_APIKEY: ${{ secrets.POEDITOR_APIKEY }}
          RUN_NUMBER: ${{ github.run_number }}
          RELEASE_ARTEFACTS: true
      - name: Read version properties
        id: read_version_properties
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: 'version.properties'
          properties: 'git.build.version git.tag git.local.branch.behind'
      - name: Show version
        id: show_version
        run: cat version.properties
      # - name: Delete previous tag and release
      #   uses: tychobrailleur/delete-tag-and-release@453626e2f16a2625a19e18d91e4cdf1f41624dde
      #   with:
      #     delete_release: true
      #     delete_non_draft: true
      #     tag_name: ${{ steps.read_version_properties.outputs.git-tag }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
